
extends layout

block content

  div(class='container')
  h3(class='center-align') Create New Entry
  form(action='/create', method='post')
    div(class='row')
      div(class="col s4")
      div(class='col s4')
        label(for='restaurant_name') Restaurant Name
        input(type='text', name='restaurant_name', required)
        div(class="col s4")
    div(class='row')
      div(class='col s3')
      div(class='col s3')
        label(for='date_of_visit') Visit Date
        input(type='date', class='datepicker' name='date_of_visit', required)
      div(class='col s3')
        label(for='meal_name') Meal Name
        input(type='text', name='meal_name', required)
      div(class='col s3')
    div(class='row')
      div(class='col s3')
      div(class='col s3')
        label(for='total_cost') Total Cost
        input(type='number', step='any', name='total_cost')
      div(class='col s3')
        label(for='review_score') Review Score (1 to 10)
        input(type='number', name='review_score', min='1', max='10')
      div(class='col s3')
    div(class='row')
      div(class='col s3')
      div(class='col s3')
        label(for='will_return') Will You Return?
        input(type='radio', name='will_return', id='true', value='true')
        label(for='true') True
        input(type='radio', name='will_return', id='false', value='false')
        label(for='false') False
      div(class='col s3')
        label(for='bottomless_drinks') Bottomless Drinks Available?
        input(type='radio', name='bottomless_drinks', id='true1', value='true')
        label(for='true1') True
        input(type='radio', name='bottomless_drinks', id='false1', value='false')
        label(for='false1') False
      div(class='col s3')
    div(class='row')
      div(class="col s4")
      div(class='col s4')
        label(for='notes') Notes
        input(type='text', name='notes')
    div(class='row')
      div(class="col s4")
      div(class='col s4')
        button(type='submit' class='btn-large center-align' ) Submit
      div(class="col s4")
  
  
  
