footer {
}

.card .card-content {
  position:relative;
  bottom: 1em;
}

table tr:nth-child(odd) td{
  background-color: #FFF;
}
table tr:nth-child(even) td{
  background-color: #DDD;
}

.first  {
  background-color: #FFF;
}

.second {
      background-color: #DDD;
}

.third {
    background-color: #FFF;
}
.fourth {
    background-color: #DDD;
}

.container .row {
  margin-bottom: 0;
}

.maindiv {
  display: flex;
  flex-direction: column;
}

.createbutton {
  margin-top: 1em;
}

.buttonrow {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
